
  /*scroll flickity*/
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }


.carousel-cell {
  width: 30%;
  height: 250px;
  margin-right: 20px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
